Flask
gunicorn 
eventlet
google-generativeai

gevent
Flask-SQLAlchemy
transformers
torch  
requests
beautifulsoup4
python-dotenv
werkzeug
bcrypt  
duckduckgo-search
Flask-Limiter
Flask-Caching
Flask-SocketIO
Pillow
psycopg2-binary 
